body {
    background: blueviolet;
}
h1 {
    color: white;
    text-align: center;
}
a,p {
    color:white;
   display: flex;
  justify-content: center;
}
.link {
    display: flex;
    justify-content: space-around;
}
img {
    display: block;
    margin: auto;
    padding: 20px;
}